<app-navbar></app-navbar>
<div id="welcome-section" class="d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Bienvenido a Tarjetas locutorios</h5>
        <p class="card-text">
          En estos momentos, estamos realizando una actualización de nuestros servicios, pronto nos estaremos en linea nuevamente. <strong>Si necesitas adquirir una tarjeta, por favor ve a nuestra dirección de compras momentaneas.</strong>
        </p>
        <a href="https://locutorios.cl/comprapin/" class="btn btn-primary">IR A COMPRAR</a>
      </div>
    </div>
  </div>
</div>

